@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Heebo:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-family: "Heebo", sans-serif;
}
body {
  transition: background-color 1s ease;
  background-color: rgba(20, 21, 22, 255);
  background-image: repeating-linear-gradient(
    rgb(7, 7, 7),
    rgb(9, 36, 71),
    rgb(7, 7, 7)
  );
}

html {
  font-size: 142.5%;
  /* scroll-behavior: smooth; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*  NAVBAR CSS */

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 2.5rem;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-list {
  /* display: flex; */
}
.navbar-items {
  display: flex;
}
.navbar-link {
  cursor: pointer;
  padding: 0 1.5rem;
}

/* MAIN INFO CSS  */

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background-color: cornflowerblue; */
  padding-top: 6vmax;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 50px;
}

.left-home {
  min-width: 50%;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}

.right-home {
  text-align: center;
  padding: 20px;
}

.hello-image {
  width: 3vmax;
}

.profile-txt {
  font-size: 3vmax;
  /* text-align: left; */
  /* padding-bottom: 10px; */
}

.my-name {
  font-size: 4vmax;
  font-family: "Caveat", cursive;
}

.about-me {
  font-size: 1vmax;
}
.about-txt {
  font-size: 2vmax;
}

.profile-image {
  border-radius: 50%;
  min-width: 20px;
  width: 80vmin;
  max-width: 100%;
}
.social-menu ul {
  display: flex;
}
.social-menu ul li {
  margin: 20px 40px 20px 0;
  font-size: 160%;
}

/* skills */

.skills {
  /* margin: 0; */
  min-height: 100vh;
  padding-top: 10vmax;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 50px;
  /* background-color: darkslateblue; */
}

.skill-header {
  display: flex;
  /* position: absolute; */
  /* margin-bottom: 35vmax; */
  max-height: 100%;
  justify-content: center;
}
.skill-div {
  border-radius: 200px;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78vmax;
  height: 35vmax;
}

.first-row-skill,
.second-row-skill {
  margin: auto;
  display: flex;
  gap: 3vmax;
}

.first-row-skill div,
.second-row-skill div {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15vmax;
  height: 12vmax;
}
.first-row-skill p,
.second-row-skill p {
  font-size: 1.5vmax;
  display: flex;
  justify-content: center;
}

.skills img {
  max-width: 100%;
  width: 4vmax;
  height: 4vmax;
  margin: auto;
}

/* projects */

.project {
  min-height: 100vh;
  padding-top: 10vmax;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 50px;
}

/* EDUCATION  */

.education {
  min-height: 100vh;
  padding-top: 10vmax;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 50px;
  /* background-color: darkgray; */
}
.education-heading {
  display: flex;
  max-height: 100%;
  justify-content: center;
}
.education-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79vw;
  height: 42vmax;
  border-radius: 1vmax;
}
.education-subdiv {
  margin-top: 2vmax;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.093),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 0 8px 32px 0 rgba(50, 122, 181, 0.37);
  width: 75vw;
  height: 11vmax;
  border-radius: 1vmax;
  transition: all 0.3s ease-in-out 0.1s;
  gap: 30px;
}
.education-subdiv img {
  height: 100%;
  width: 11vw;
  margin-left: 8px 0 8px 8px;
  background-color: white;
  border-radius: 20px;
}
.education-subdiv div {
  margin-left: 20px;
  margin-right: 20px;
}

.education-subdiv p {
  text-align: left;
  margin-top: 12px;
}

.education-div span {
  color: rgba(63, 46, 177, 0.607);
  font-size: 1.3vmax;
}
.education-status {
  font-size: 1vmax;
  background-color: rgba(1, 252, 10, 0.139);
  width: max-content;
  padding-left: 1vmax;
  padding-right: 1vmax;
  border-radius: 1vmax;
}

.persuing {
  background-color: rgba(252, 34, 1, 0.139);
}

/* CONTACT  */

.contact {
  min-height: 100vh;
  padding-top: 10vmax;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 50px;
  display: flex;
  /* background-color: darkorchid; */
}

.contact-div {
  display: flex;
  justify-content: space-evenly;
  gap: 5vw;
}
.contact-image-div {
  min-width: 50%;
  margin-left: auto;
}

.contact-img {
  width: 30vmax;
  /* background-color: aqua; */
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 3vmax;
  min-width: 50%;
  margin-left: 102px;
}

.form {
  top: 50%;
  width: 40vw;
  height: 30vmax;
  padding: 2vmax;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 1vmax;
}

.form .user-box {
  position: relative;
}

.form .user-box input,
textarea {
  width: 100%;
  padding: 1vmax 0;
  font-size: 1vmax;
  color: #fff;
  margin-bottom: 3vmax;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  -webkit-user-select: text;
  user-select: text;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0) inset !important;
  box-shadow: 0 0 0px 1000px rgb(0, 0, 0) inset !important;
  background-clip: content-box !important;
}
.form .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1vmax 0;
  font-size: 1vmax;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.form .user-box input:focus ~ label,
.form .user-box textarea:focus ~ label {
  top: -2vmax;
  left: 0;
  color: #ffd900a5;
  font-size: 0.8vmax;
}

.form form a {
  position: relative;
  display: inline-block;
  padding: 1vmax 2vmax;
  color: #ffffff;
  font-size: 1vmax;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 2vmax;
  letter-spacing: 0.3rem;
}
.form a:hover {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.788);
  box-shadow: 0 0 1vmax #ffffff;
}

.form a span {
  position: absolute;
  display: block;
}
.form a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.form a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, white);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.form a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.form a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

.form a:hover span:nth-child(1) {
  background: linear-gradient(90deg, transparent, rgb(0, 0, 0));
}
.form a:hover span:nth-child(2) {
  background: linear-gradient(180deg, transparent, rgb(0, 0, 0));
}
.form a:hover span:nth-child(3) {
  background: linear-gradient(270deg, transparent, rgb(0, 0, 0));
}
.form a:hover span:nth-child(4) {
  background: linear-gradient(360deg, transparent, rgb(0, 0, 0));
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
