@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Heebo:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-family: "Heebo", sans-serif;
}

html {
  font-size: 142.5%;
  /* scroll-behavior: smooth; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*  NAVBAR CSS */

.navbar {
  position: sticky;
  display: flex;
  width: 100%;
  height: 2.5rem;
  background-color: powderblue;
  justify-content: space-between;
  padding: 10px;
}

.navbar-list {
  /* display: flex; */
}
.navbar-items {
  display: flex;
}
.navbar-link {
  cursor: pointer;
  padding: 0 1.5rem;
}

/* MAIN INFO CSS  */

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: cornflowerblue;
  padding-top: 6vmax;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 50px;
}

.left-home {
  min-width: 50%;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}

.right-home {
  text-align: center;
  padding: 20px;
}

.hello-image {
  width: 3vmax;
}

.profile-txt {
  font-size: 3vmax;
  /* text-align: left; */
  /* padding-bottom: 10px; */
}

.my-name {
  font-size: 4vmax;
  font-family: "Caveat", cursive;
}

.about-me {
  font-size: 1vmax;
}
.about-txt {
  font-size: 2vmax;
}

.profile-image {
  border-radius: 50%;
  min-width: 20px;
  width: 80vmin;
  max-width: 100%;
}
.social-menu ul{
  display: flex;
}
.social-menu ul li {
  margin: 20px;
  padding-left: 1rem;
}